<h1>Lissajous Curves Interactive Visualizer</h1>

<div class="img-link-container">
    <a href="http://tytel.org/lissa/"></a>
    <img src="/static/img/lissa1.png">
</div>

<p>
An interactive Lissajous curves visualizer for exploration, pretty patterns, and random music generation. Lissajous curves represent stereo sound by plotting the left and right speaker positions on the horizontal and vertical axes, respectively. I made this with <a href="http://tytel.org/">Matt Tytel</a>. Go <a href="http://tytel.org/lissa/">play</a>.
</p>
