<h1>Greater Independence for Moroccan Illiterate Mobile Phone Users</h1>

<p>
    Many illiterate Moroccans use a mobile phone personally and professionally. They rely on friends or strangers to help them make calls and navigate the text based Arabic, French, or interface. Our goal was to help these people use the phones they already own independently. As project manager on a team of <a href="http://www.olin.edu/">Olin</a> design and engineering students, <a href="http://www.babson.edu/">Babson</a> business students, and Moroccan <a href="http://www.enim.ac.ma/">&Eacute;cole Nationale de L'Industrie Min&eacute;rale</a> engineering students, I led the design process through user research, problem definition, prototype iteration, and pilot testing.
</p>

<table class="pics">
    <tr>
        <td id="apples">
            <img src="/static/img/current_phone_tech.jpg">
        </td>
        <td>
            <img src="/static/img/notebook.png">
        </td>
    </tr>
</table>

<p>
    We interviewed numerous illiterate working Moroccan adults to understand how mobile phones fit into their lifestyles, including bicycle mechanics, produce vendors, bakers, maids, taxi cab drivers, and construction works. Most own at least one mobile phone which they use for work and calling family and friends. Third hand Nokia bar phones are most common. Contacts are recorded on paper notebooks or scraps of cardboard. 
</p>

<p>
    They struggle to unlock their phone, find the contact's number, dial the number, add contacts, and add minutes. We focused on finding and dialing contacts because these needs are most time sensitive. We prototyped and pilot tested a transitional solution which accommodated current usage patterns and price contraints while augmenting the memory and learning abilities of illiterate users.
</p>

