<h1>Full Stack Quality Assurance Tools</h1>

<p>
    As a software engineer for <a href="http://the.echonest.com/">The Echo Nest</a>, one of the projects I worked on was developing internal tools which were used for quality assurance. Data accuracy is of utmost importance to The Echo Nest because data is its primary product, and the continually growing database regularly rolls out to enterprise customers. The tools enabled anyone to view and edit dynamically structured data objects and helped create tasks, workflow, and performance tracking for quality assurance interns.
</p>

<table width="100%">
    <colgroup>
        <col width="46%">
        <col width="6%">
        <col width="46%">
    </colgroup>
    <tr>
        <td class="text">
            <div class="td-inner">
                <h5>I. Quizzes Website</h5>
                Workers review sets of data by completing quizzes, and administrators create those quizzes and track worker progress. I made interactive progress graphs and embedded the views and actions from (IV).
            </div>
        </td>
        <td class="arrow">&#8596;</td>
        <td colspan=2 class="text">
            <div class="td-inner">
                <h5>IV. Quality Assurance Website</h5>
                Users find, view, and make add/remove actions on data objects. I made this, including views that dynamically match data structures and search queries.
            </div>
        </td>
    </tr>
    <tr>
        <td class="arrow">&#8597;</td>
        <td></td>
        <td class="arrow">&#8597;</td>
        <td class="arrow">&#8597;</td>
    </tr>
    <tr>
        <td class="text">
            <div class="td-inner">
                <h5>II. Data Interface and Server</h5>
                Serves web pages for (I) and stores data in (III). I implemented a new question type, logged worker actions, and calculated work and quiz progress statistics.
            </div>
        </td>
        <td></td>
        <td colspan=2>
            <table width="100%">
                <colgroup>
                    <col width="55%">
                    <col width="5%">
                    <col width="40%">
                </colgroup>
                <tr>
                    <td class="text">
                        <div class="td-inner">
                            <h5>V. Web Data Interface</h5>
                            AJAX requests for add/remove actions and data structure descriptions.
                        </div>
                    </td>
                    <td></td>
                    <td class="text">
                        <div class="td-inner">
                            <h5>VI. Server</h5>
                            Serves pages for (IV).
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=3 class="arrow">&#8597;</td>
                </tr>
                <tr>
                    <td colspan=3 class="text">
                        <div class="td-inner">
                            <h5>VII. Python Data Interface</h5>
                            Humans and bots can add/remove data objects, and programmers can define new data types. I did not work on this, but I worked closely with those who did to ensure that data type structures were correctly represented.
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="arrow">&#8597;</td>
        <td></td>
        <td colspan=2 class="arrow">&#8597;</td>
    </tr>
    <tr>
        <td class="text">
            <div class="td-inner">
                <h5>III. Quizzes to Review Music Data</h5>
                This database stores quizzes and responses. I defined the collection to store worker actions and queried that collection to calculate progress statistics.
            </div>
        </td>
        <td></td>
        <td colspan=2 class="text">
            <div class="td-inner">
                <h5>VII. Music Data</h5>
                This database stores the music data whose accuracy must be ensured. I did not work on this, but I worked closely with those who did to define how humans could best contribute to data accuracy.
            </div>
        </td>
    </tr>
</table>
