.container-with-sidebar {
    width: 950px;
    margin-left: 10%;
}

.page-header {
    margin: 20px 0;
}

.mainbar {
    width: 700px;
    display: inline-block;
    float: left;
}

.sidebar {
    width: 215px;
    margin-left: 30px;
    border-left: 2px solid #eee;
    padding-left: 15px;
    display: inline-block;
    float: left;
}
.sidebar-title {
    padding: 10px 5px;
    border-bottom: 2px solid #eee;
    margin-bottom: .9em;
}

#portrait {
    margin: 1em 0 1em 2%;
    width: 98%;
    max-width: 213px;
}

blockquote {
    padding: 2em 0;
    margin: 0;
    border-width: 0;
}

.top {
    margin-top: 1em;
}

.fraction {
    margin-right: 5%;
    display: inline-block;
    float: left;
}
.fraction:last-child {
    margin-right: 0;
}
.fraction.whole {
    width: 100%;
}
.fraction.one-third {
    width: 30%;
}
.fraction.two-thirds {
    width: 65%;
}

