@font-face {
    font-family: 'myriad-pro-light';
    src: url(../fnt/MyriadPro-Light.otf);
}
@font-face {
    font-family: 'geosans-light';
    src: url(../fnt/GeosansLight.ttf);
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'myriad-pro-light', sans-serif;
    line-height: 1em;
    color: #000;
}
body * {
    border-color: rgb(255, 112, 0);
    border-style: solid;
    border-width: 0;
}
a {
    color: inherit;
    text-decoration: underline;
}

/* WHITE GRADIENTS */
#sidebar-white-fade {
    position: absolute;
    top: 100px;
    right: -10px;
    width: 9px;
    height: 100%;
    background-image: linear-gradient(left , rgb(255, 255, 255) 0%, rgba(255,255, 255, 0) 100%);
background-image: -o-linear-gradient(left , rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
background-image: -moz-linear-gradient(left , rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
background-image: -webkit-linear-gradient(left , rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
background-image: -ms-linear-gradient(left , rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top,
        color-stop(0.0, rgb(255, 255, 255)),
        color-stop(1.0, rgba(255, 255, 255, 0)));
}
#content-white-fade {
    position: fixed;
    top: 100px;
    left: 950px;
    width: 4000px;
    z-index: 5;
    height: 100%;
    background-image: linear-gradient(left , rgba(255, 255, 255, 0) 0%, rgba(255,255, 255, .9) 2.8%);
background-image: -o-linear-gradient(left , rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 2.8%);
background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 2.8%);
background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 2.8%);
background-image: -ms-linear-gradient(left , rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 2.8%);
    background-image: -webkit-gradient(linear, left top, right top,
        color-stop(0.0, rgba(255, 255, 255, 0)),
        color-stop(0.028, rgba(255, 255, 255, .9)));
}

/* SIDEBAR */
#sidebar {
    width: 150px;
    border-right-width: 1px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 5;
}
#name-container {
    width: 146px;
    padding: 2px;
    border-bottom-width: 2px;
    height: 94px;
    position: relative;
}
#name {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 146px;
    font-size: 225%;
    line-height: .9em;
    letter-spacing: .1em;
}
#desc-container {
    width: 144px;
    padding-right: 6px;
    height: 496px;
    padding-top: 11px;
}
p > span {
    display: block;
    padding-bottom: .5em;
}
#contact {
    position: absolute;
    top: 100px;
    right: 0;
    text-align: right;
    padding-top: 12px;
    padding-right: 6px;
    margin: 0 0 0 0;
}

/* TABS */
#main,
#tabs {
    width: 4760px;
}
#tabs {
    display: inline-block;
    float: left;
    height: 98px;
    padding-left: 160px;
}
.tab {
    display: inline-block;
    float: left;
    padding: 20px 3px 0;
    border-width: 1px;
    width: 92px;
    margin-right: 698px;
    height: 34px;
    margin-top: 39px;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
    left:160px;
}
.tab.project {
    padding-top: 10px;
    padding-bottom: 10px;
}
.tab:last-child {
    margin-right: 0;
}
.tab-arrow-right {
    width: 30px;
    height: 50px;
    margin-left: 98px;
    margin-top: -26px;
    font-size: 700%;
    font-weight: lighter;
    font-family: 'geosans-light';
    color: rgb(255, 112, 0);
    cursor: default;
    display: none;
}
.tab.project .tab-arrow-right {
    margin-top: -32px;
}
.tab.active .tab-arrow-right {
    display: block;
}
.tab:last-child .tab-arrow-right {
    display: none;
}
.tab.active {
    color: white;
    background: rgb(255, 112, 0);
}
#content {
    border-top-width: 2px;
    display: inline-block;
    float: left;
    padding-left: 161px;
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    padding-top: 12px;
    padding-bottom: 10px;
}
.tab-content {
    width: 700px;
    margin-right: 100px;
    display: inline-block;
    float: left;
    overflow: visible;
}
.tab-content:last-child {
    margin-right: 0;
}

.clear {
    clear: both;
}

/* COLUMNS */
.columns {
    clear: both;
}
.column {
    width: 48%;
    margin-right: 2%;
    display: inline-block;
    float: left;
}
.column:last-child {
    margin-right: 0;
}

/* LISTS */
.list-title,
.box-title {
    display: inline-block;
    clear: both;
    border-bottom: 1px solid black;
    margin-bottom: .5em;
}
ul.list {
    list-style-type: none;
    margin-left: 2em;
    line-height: 1em;
}
ul.list > li {
    text-indent: -1em;
}
p.list-intro {
    padding-bottom: 0;
    margin-bottom: .1em;
}

.tile {
    display: inline-block;
    float: left;
    margin-right: 10px;
    max-width: 50%;
}

#portrait {
    height: 400px;
}

#lissa-carousel,
#portrait {
    margin-bottom: 1em;
}
#lissa-carousel img {
    width: 700px;
}
#lissa-carousel a.carousel-control {
    letter-spacing: -5px;
    line-height: 30px;
    top: 47%;
    text-decoration: none;
    font-family: 'geosans-light';
    z-index: 2;
}
#lissa-carousel a.left.carousel-control {
    letter-spacing: 5px;
}
#lissa-carousel a.right.carousel-control {
    letter-spacing: -5px;
}

a.invisible-box-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

p.caption {
    padding-top: 10px;
}

/* BOXES AND ARROWS DIAGRAM */
.figure {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
}
.figure,
.figure div {
    display: inline-block;
    float: left;
}
.figure .figure-row {
    width: 100%;
    clear: both;
}
.figure .figure-row.short {
    height: 40px;
}
.figure .box.short {
    height: 34px;
}
.figure .figure-row.medium {
    height: 120px;
}
.figure .box.medium {
    height: 104px;
}
.figure .figure-row.tall {
    height: 280px;
}
.figure .box.tall {
    height: 264px;
}
.figure .figure-column {
    width: 45%;
}
.figure .between-columns {
    width: 10%;
    height: 100%;
}
.figure .two-thirds {
    width: 62.5%;
    margin-right: 5%;
}
.figure .one-third {
    width: 32.5%;
}
.figure .box {
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    padding: 7px;
}
.figure .box-content {
    font-size: 90%;
}
.figure .arrow {
    text-align: center;
    width: 100%;
    font-size: 200%;
    color: rgb(200, 200, 200);
    line-height: 1em;
}
.figure .arrow.horizontal {
    margin-top: 60%;
}
.figure .arrow.vertical {
    padding: 7px 0;
}


