@font-face {
    font-family: 'Cardo';
    src: url('/static/fnt/Cardo/Cardo104s.ttf');
}
html {
    border-left: 30px solid rgb(3, 53, 21);
}
html, body {
    background-color: rgb(253, 255, 253);
    color: rgb(10, 10, 10);
}

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cardo', 'Helvetica', sans-serif;
}
body {
    font-size: 16px;
}

.container-with-sidebar {
    width: 950px;
    margin-left: 5%;
}

.page-header {
    margin: 20px 0;
}
.page-header,
.nav-tabs,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.sidebar-title {
    border-color: #187c38;
}
.nav-tabs>li>a:hover {
    border-bottom-color: #187c38;
    background-color: rgb(240, 245, 243);
}
small, h1 small, blockquote small,
.nav-tabs>li>a,
.nav-tabs>li>a:hover {
    color: #96A59D;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover {
    color: #1C6B35;
    border-bottom-color: transparent;
}

.mainbar {
    width: 700px;
    display: inline-block;
    float: left;
}

.sidebar {
    width: 215px;
    margin-left: 35px;
    display: inline-block;
    float: left;
}
.sidebar-title {
    padding: 10px 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: .9em;
}

#portrait {
    margin: 1em 0 1em 2%;
    width: 98%;
    max-width: 213px;
}

blockquote {
    padding: 2em 0;
    margin: 0;
    border-width: 0;
}

.top {
    margin-top: 1em;
}

.fraction {
    margin-right: 5%;
    display: inline-block;
    float: left;
}
.fraction:last-child {
    margin-right: 0;
}
.fraction.whole {
    width: 100%;
}
.fraction.one-third {
    width: 30%;
}
.fraction.two-thirds {
    width: 65%;
}

.footer {
    color: rgb(30, 30, 30);
    position: relative;
    clear: both;
    padding: 1em 0;
}
.credits, .credits a {
    color: #96A59D;
}
