{% extends "base.html" %}

{% block body %}

<div class="container">

    <div class="img-wrapper">
        <img class="wide" src="/static/img/me/beach.jpeg">

        <div class="row">
            <div class="col-md-12">
                {% set images = ["sale.jpg", "with_zach.jpeg", "mhd.jpg", "laying_pipe.jpeg"] %}
                {% for image in images %}
                    <img class="me" src="/static/img/me/{{image}}">
                {% endfor %}
            </div>
        </div>
    </div>

    <p>
    I am a collaborator. I seek out projects that have real human impact, but I am not particularly attached to my own ideas. In many cases a well functioning team can do more, faster. I have the most fun, passion, and productivity when I closely collaborate with others.
    </p>

    <p>
    My prior work ranges across international human centered design, data dashboards and management web apps, usability testing and results analysis, and interactive audio processing and visualization.
    </p>

    <p>
    Contact: [firstname].[lastname]@gmail.com
    </p>

</div>

{% endblock body %}
