<html lang="en">
    <head>
        <title>Noura Howell</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/app.css">

    </head>
    <body>

        <div class="container">

            <div class="page-header" role="banner">
                <h1>Tom Hill <small>Clarinetist</small></h1>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        {% for page in pages %}
                            <li
                            {% if current_page['tabname'] == page['tabname']-%}
                                class="active"
                            {%- endif -%}>
                                <a href="/{{page['path']}}">
                                    {{page['tabname']}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% block body %}{% endblock body %}

        </div>

        {% block js %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script> 
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {% endblock js %}
    </body>
</html>
