{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="col-md-4">
        <img id="portrait" src="/static/img/tom_hill_small.jpg"/>
    </div>
    <div class="col-md-8">
        <blockquote>
            <p>
                &ldquo;Hill's performance was what we've come to expect from him&mdash;beautifully controlled, technically strong, imaginative and musical.&rdquo;
            </p>
            <small class="pull-right">&mdash;The Boston Globe</small>
        </blockquote>

        <blockquote>
            <p>
                &ldquo;&hellip;among the best clarinetists anywhere.&rdquo;
            </p>
            <small class="pull-right">&mdash;The Boston Musical Intelligencer</small>
        </blockquote>
    </div>
</div>

<p>
Principal Clarinetist of the Boston Philharmonic since 1992, Mr. Hill was also founding clarinetist of the acclaimed Boston Chamber Music Society and a member of that ensemble from 1983 until 2012. He has appeared as soloist and ensembler performer under a variety of auspices since the beginning of his career in New York and Los Angeles.
</p>

<p>
Mr. Hill has also served as a principle clarinetist of the New Haven Symphony, The Long Beach Symphony, The Handle and Haydn Society Orchestra of Boston, The Mainly Mozart Festival Orchestra, The San Deigo Symphony, and The Cascade Festival Orchestra in Oregon. He has appeared with both The Boston Symphony and The Boston Pops.
</p>

<p>
He holds both a Bachelor's and a Master's Degree with Honors from The New England Conversatory. He also attended The Cleveland Institute of Music where he was a member of the class of Robert Marcellus.
</p>

<p>
In addition to his private studio, his own teaching credentials have included artist-professional affiliations teaching clarinet and chamber music at the Massachusetts Institute of Technology, The New England Conservatory, the Boston Conservatory, The Longy School of Music, and the university systems of New York, California, Massachusetts and Missouri. And he has been a visiting artist/teacher in a wide range of musical settings.
</p>

{% endblock body %}
