<!DOCTYPE html>
<html lang="en">
<head>
<title>Noura Howell</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/static/css/app.css" rel="stylesheet">

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39982112-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</head>
<body>

<div id="sidebar">
    <div id="sidebar-white-fade"></div>
    <div id="name-container">
        <div id="name">
            Noura<br/>
            Howell
        </div>
    </div>
    <div id="desc-container">
        <p id="contact">
            <span>
                gmail: noura.howell
            </span>
            <span>
                <a href="http://nourahowell.tumblr.com/" target="_blank">
                    short projects
                </a>
            </span>
            <span>
                <a href="/static/pdf/NouraHowell_Resume.pdf" target="_blank">
                    resume
                </a>
            </span>
        </p>
    </div>
</div>
<div id="main">
    <div id="tabs">
        {% for tab in [
            {'name': 'About',               'type': 'general'},
            {'name': 'Skills',              'type': 'general'},
            {'name': 'Lissajous Curves',    'type': 'project'},
            {'name': 'Mobile Illiteracy',   'type': 'project'},
            {'name': 'Data Dashboard',      'type': 'project'},
            {'name': 'Full Stack QA Tools', 'type': 'project'}] %}
            <div class="tab {{tab.type}}" data-i="{{loop.index0}}">
                {{ tab.name }}
                <div class="tab-arrow-right" data-i="{{loop.index0}}">
                    &rsaquo;
                </div>
            </div>
        {%- endfor %}
    </div>
    <div class="clear"></div>
    <div id="content">
        <!--<div id="content-white-fade"></div>-->
        <div class="tab-content">
            <img id="portrait" class="tile" src="/static/img/sale.jpeg">
            <p class="intro-text tile">
                <span>
                    Driven by a passion to empower others to accomplish their own goals, and with a collaborative and adventurous nature, I have explored many side streets with teammates on projects ranging from design for illiterate Moroccans to computation optimization for the Army Corps of Engineers. Whether it's full stack web development, user interface design, interactive audiovisual demos, or something else entirely, I'd love to speak with you about how we can work together.
                </span>
            </p>
        </div>
        <div class="tab-content">
            <p class="intro-text">
                My biggest skill is that I'll learn whatever's needed, fast.
            </p>
            <div class="column">
                <div class="list-title">
                    Human Centered Design
                </div>
                <ul class="list">
                    <li>
                        process, process, process
                    </li>
                    <li>
                        user interviews
                    </li>
                    <li>
                        goals, needs and values, personas
                    </li>
                    <li>
                        scenarios
                    </li>
                    <li>
                        problem definition
                    </li>
                    <li>
                        solution ideation, narrowing, and prototyping
                    </li>
                    <li>
                        usability testing, GUI detail design iteration
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="list-title">
                    JavaScript
                </div>
                <ul class="list">
                    <li>
                        backbone
                    </li>
                    <li>
                        underscore
                    </li>
                    <li>
                        bootstrap
                    </li>
                    <li>
                        rickshaw, d3
                    </li>
                    <li>
                        AJAX
                    </li>
                    <li>
                        jQuery
                    </li>
                    <li>
                        a little angular, node, socket.io
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="list-title">
                    Python
                </div>
                <ul class="list">
                    <li>
                        flask
                    </li>
                    <li>
                        mongo DB
                    </li>
                    <li>
                        django
                    </li>
                    <li>
                        SQL
                    </li>
                    <li>
                        jinja
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="list-title">
                    Maker & Miscellaneous
                </div>
                <ul class="list">
                    <li>
                        arduino
                    </li>
                    <li>
                        basic woodworking
                    </li>
                    <li>
                        simple sewing
                    </li>
                    <li>
                        French
                    </li>
                    <li>
                        music theory, clarinet
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="lissa-carousel" class="carousel slide" data-interval=2000>
                <a href="http://tytel.org/lissa" target="_blank" class="invisible-box-link"></a>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/static/img/lissa1.png">
                    </div>
                    <div class="item">
                        <img src="/static/img/lissa2.png">
                    </div>
                    <div class="item">
                        <img src="/static/img/lissa3.png">
                    </div>
                    <div class="item">
                        <img src="/static/img/lissa4.png">
                    </div>
                </div>
                <a class="left carousel-control" href="#lissa-carousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#lissa-carousel" data-slide="next">&rsaquo;</a>
            </div>
            <p class="intro-text">
                <span>
                    Lissajous curves are a way to visualize stereo sound. The left speaker position is plotted on the horizontal axis, and the right speaker position is plotted on the vertical axis. For simple waveforms, this creates recognizable and often beautiful patterns.
                </span>
                <span>
                    <a href="http://tytel.org" target="_blank">Matt</a>
                    and I made a simple 
                    <a href="http://tytel.org/lissa" target="_blank">app</a>
                    to play with these, using sound, drawings, and interactive controls (Chrome only).
                </span>
            </p>
        </div>
        <div class="tab-content">
            <p class="intro-text">
                <span>
                    Our goal was to help illiterate Moroccans use mobile phones independently. As project manager on a team of <a href="www.olin.edu" target="_blank">Olin</a> design and engineering students, <a href="www.babson.edu" target="_blank">Babson</a> business students, and Moroccan <a href="www.enim.ac.ma" target="_blank">&Eacute;cole Nationale de L'Industrie Min&eacute;rale</a> engineering students, I led the design process through user research, problem definition, prototype iteration, and pilot testing.
                </span>
            </p>
            <div class="columns">
                <div class="column">
                    <div class="list-title">
                        User Research
                    </div>
                    <p class="list-intro">
                        We intervied numerous illiterate working Moroccan adults to understand how mobile phones fit into their lifestyles, including
                    </p>
                    <ul class="list">
                        <li>
                            bicycle mechanics
                        </li>
                        <li>
                            produce vendors
                        </li>
                        <li>
                            bakers
                        </li>
                        <li>
                            maids
                        </li>
                        <li>
                            taxi cab drivers
                        </li>
                        <li>
                            construction workers
                        </li>
                    </ul>
                    <p>
                        Most own at least one mobile phone. Some need to use them for work, and all use them to call family and friends.
                    </p>
                </div>
                <div class="column">
                    <div class="list-title">
                        Problem Definition
                    </div>
                    <p class="list-intro">
                        Illiterate users struggle to
                    </p>
                    <ul class="list">
                        <li>
                            unlock their phone
                        </li>
                        <li>
                            find the contact's number
                        </li>
                        <li>
                            dial the number
                        </li>
                        <li>
                            add contacts
                        </li>
                        <li>
                            add minutes
                        </li>
                    </ul>
                    <p>
                        We focused on finding and dialing contacts because these needs are most time sensitive.
                    </p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="list-title">
                        Current Technology
                    </div>
                    <img src="/static/img/current_phone_tech.jpg">
                    <p class="caption">
                        Third hand Nokia bar phones are most common. Contacts are recorded on paper notebooks or scraps of cardboard.
                    </p>
                </div>
                <div class="column">
                    <div class="list-title">
                        Solution Prototype
                    </div>
                    <p class="list-intro">
                        We prototyped and pilot tested a transitional solution which accommodated current usage patterns and price constraints while augmenting the memory and learning abilities of illiterate users.
                    <ul class="list">
                        <li>
                            Culturally relevant symbols and colored pages  aid finding contact
                        </li>
                        <li>
                            Consistent colors and Arabic numerals between notebook and phone assist dialing
                        </li>
                        <li>
                            White cover to blend with Friday traditional garb
                        </li>
                        <li>
                            New literate contacts can write themselves in
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <p class="intro-text">
                Enterprise web application for viewing and manipulating giant data sets.
            </p>
            <div class="columns">
                <div class="list-title">
                    Performance constraints
                </div>
                <ul class="list">
                    <li>
                        dynamically structured data
                    </li>
                    <li>
                        throttling hundreds of AJAX requests
                    </li>
                    <li>
                        make jQuery and the DOM not choke on tables with over nine thousand rows
                    </li>
                    <li>
                        sort, filter, reformat, and show statistics on data
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <p class="intro-text">
                As a software engineer for The Echo Nest, one of the projects I worked on was developing internal tools which were used for quality assurance. Data accuracy is of utmost importance to The Echo Nest because data is its primary product, and the contually growing database regularly rolls out to enterprise customers. The tools enabled anyone to view and edit dynamically structured data objects and helped create tasks and workflow for quality assurance interns.
            </p>
            <div class="figure">
                <div class="figure-row medium">
                    <div class="figure-column">
                        <div class="box medium">
                            <div class="box-title">
                                I. Quizzes Website
                            </div>
                            <div class="box-content">
                                Users create quizzes of sets of data to review, review that data, and track progress. I embedded (IV)'s views and actions and made interactive graphs of progress.
                            </div>
                        </div>
                    </div>
                    <div class="between-columns">
                        <div class="horizontal arrow">
                            &#8596;
                        </div>
                    </div>
                    <div class="figure-column">
                        <div class="box medium">
                            <div class="box-title">
                                IV. Data Quality Assurance Website
                            </div>
                            <div class="box-content">
                                Users find, view, and make add/remove actions on data objects. I made this, including search queries and views that dynamically match data structure for display.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="figure-row short">
                    <div class="figure-column">
                        <div class="vertical arrow">
                            &#8597;
                        </div>
                    </div>
                    <div class="between-columns">
                    </div>
                    <div class="figure-column">
                        <div class="two-thirds">
                            <div class="vertical arrow">
                                &#8597;
                            </div>
                        </div>
                        <div class="one-third">
                            <div class="vertical arrow">
                                &#8597;
                            </div>
                        </div>
                    </div>
                </div>
                <div class="figure-row tall">
                    <div class="figure-column">
                        <div class="box tall">
                            <div class="box-title">
                                II. Data Interface and Server
                            </div>
                            <div class="box-content">
                                Serves web pages for (I) and stores data in (III). I defined a new question type, logged worker actions, and calculated worker and quiz progress statistics.
                            </div>
                        </div>
                    </div>
                    <div class="between-columns">
                    </div>
                    <div class="figure-column">
                        <div class="figure-row medium">
                            <div class="two-thirds">
                                <div class="box medium">
                                    <div class="box-title">
                                        V. Web Data Interface
                                    </div>
                                    <div class="box-content">
                                        AJAX requests for add/remove actions and data structure descriptions.
                                    </div>
                                </div>
                            </div>
                            <div class="one-third">
                                <div class="box medium">
                                    <div class="box-title">
                                        VI. Server
                                    </div>
                                    <div class="box-content">
                                        Serves pages for (IV).
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="figure-row short">
                            <div class="vertical arrow">
                                &#8597;
                            </div>
                        </div>
                        <div class="figure-row medium">
                            <div class="box medium">
                                <div class="box-title">
                                    VII. Python Data Interface
                                </div>
                                <div class="box-content">
                                    Humans and bots can add/remove data objects, and programmers can define new data types. I did not work on this, but I worked closely with those who did to ensure that data type structures were correctly represented.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="figure-row short">
                    <div class="figure-column">
                        <div class="vertical arrow">
                            &#8597;
                        </div>
                    </div>
                    <div class="between-columns">
                    </div>
                    <div class="figure-column">
                        <div class="vertical arrow">
                            &#8597;
                        </div>
                    </div>
                </div>
                <div class="figure-row medium">
                    <div class="figure-column">
                        <div class="box medium">
                            <div class="box-title">
                                III. Quizzes to Review Music Data
                            </div>
                            <div class="box-content">
                                This database stores quizzes and responses. I defined the collection to store worker actions and queried that collection to calculate progress statistics.
                            </div>
                        </div>
                    </div>
                    <div class="between-columns">
                    </div>
                    <div class="figure-column">
                        <div class="box medium">
                            <div class="box-title">
                                VII. Music Data
                            </div>
                            <div class="box-content">
                                This database stores the music data whose accuracy we must ensure. I did not work on this, but I worked closely with those who did to define how humans could best contribute to data accuracy.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
</body>
